{% extends 'customer_base.html' %}
{% load static %}
{% block title %}
Catalog
{% endblock title %}
{% block body %}


<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {% for obj  in object_list %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ obj.genre }}</text></svg>
            <div class="card-body">
              <p class="card-text">{{ obj.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'genre-view' obj.pk %}" type="button" class="btn btn-sm btn-outline-secondary">More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    
    </div>
</div>

<div class="container">
  <h3>Fresh arrivals</h3>
    <div class="card-deck">
      {% for book  in newdeals %}
      <div class="card">
        <a class="linky" href="{% url 'book-view' book.pk %}">
          <img src={{ book.cover_photo.url }} class="card-img-top">
        </a>
          <div class="card-body">
            <h5 class="card-title">{{book.title}}</h5>
            {% for auth in book.author_id.all %}
            <p class="card-text">{{ auth }}</p>
            {% endfor %}
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ book.price }} BYN </small>
          </div>
      </div>
    {% endfor %}
    </div>
</div>
{% endblock body %}