{% extends 'customer_base.html' %}
{% load static %}
{% block title %}
Contacts
{% endblock title %}
{% block body %}

<section class="Material-contact-section section-padding section-dark">
      <div class="container">
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                  <h1 class="section-title">Contact Us</h1>
              </div>
          </div>
          <div>
              <!-- Section Titile -->
              <div>
                <p>At City-Reads, every type of reader can satisfy one-of-a-kind book cravings.</p>

                <div class="find-widget">
                 Company:  <a href="http://funyjane69.pythonanywhere.com/">City-Reads</a>
                </div>
                <div class="find-widget">
                 Address: <a href="#">Minsk, Pervomayskaya str. 24</a>
                </div>
                <div class="find-widget">
                  Phone:  <a href="#">8(800)854 856 888</a>
                </div>
                <div class="find-widget">
                   Program: <a href="#">Mon to Sat: 09:30 AM - 10.30 PM</a>
                </div>
              </div>

              </div>
          </div>
      </div>
    </section>

{% endblock body %}