{% extends 'customer_base.html' %}
{% load static %}
{% block title %}
Not found
{% endblock title %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Sorry!</h1>
                <h2>
                    Couldn't find your book</h2>
                <div class="error-details">
                    Unfortunately, requested book is not found, please try something else!
                </div>
                <div class="error-actions">
                    <a href="{% url 'main' %}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}