{% extends 'customer_base.html' %}
{% load static %}
{% block title %}
Shipping
{% endblock title %}
{% block body %}

<div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">Delivery countries</h4>
        <p class="mb-0"><em>
We currently ship free of charge to the countries and regions seen below. Please be aware that deliveries are impacted in some countries due to Coronavirus. Click <a href="https://reopen.europa.eu/en">here</a> for country-specific information.</p>

<p class="mb-0">A - Algeria, Andorra, Antigua And Barbuda, Argentina, Aruba, Australia, Austria</p>

<p class="mb-0">B - Bahamas, Bahrain, Barbados, Belgium, Belize, Benin, Bermuda, Bosnia and Herzegovina, Brazil, British Virgin Islands, Brunei Darussalam, Bulgaria</p>

<p class="mb-0">C - Canada, Cayman Islands, Chile, China, Cocos (Keeling) Islands, Colombia, Comoros, Cook Islands, Croatia, Cyprus, Czech Republic</p>

<p class="mb-0">D - Denmark, Dominica, Dominican Republic</p>

<p class="mb-0">E - Ecuador, Egypt, Estonia, El Salvador</p>

<p class="mb-0">F - Falkland Islands, Faroe Islands, Federated States of Micronesia, Fiji, Finland, France</p>

<p class="mb-0">G - Germany, Gibraltar, Greece, Greenland, Grenada, Guadaloupe, Guam, Guatemala, Guyana</p><br>


<p class="mb-0">We're sorry if your country or region isn't on the list, we review the list of delivery locations regularly with a view to expanding these where possible.</p>

<p class="mb-0">Please note you are responsible for any local taxes and shipping. Any applicable local sales tax, VAT and similar taxes will depend on the tax that applies to your delivery location and any changes will be displayed in the checkout.</p>
      </div>
<div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">Payment options</h4>
        <p class="mb-0"><em>We accept payments made with the following cards: VISA, MasterCard, AMEX, and Maestro. We also accept PayPal.</p>
      </div>

{% endblock body %}