body {
  padding-top: 5rem;
  margin-right: 250px;
  margin-left: 250px;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

a.linky {
  display: inline-block;
  text-decoration: none;
  transition: opacity 0.2s ease-in;
}

a.linky:hover {
  opacity: 0.8;
}

